body{
font-family: Arial;
text-align: center;
color: #333;
font-size:16px;
margin:0;
padding: 20px;

}
#container{
    text-align: left;
    width:  70%;
    padding:  10;
    border: 1px solid red;
    margin: 0 auto;
}
#container-titulo{
font-size: 20px;
    color: blue;

}
